# Dependencies
node_modules
.pnpm-store

# Build output
dist
build
.output

# Local env files
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Downloader / temporary scripts
download.js
download-food.js
